* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s; }

*:before,
*:after {
  box-sizing: border-box; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

ul {
  list-style: none; }

a {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

img {
  border: none; }

:focus {
  outline: 0; }

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-appearance: none;
  overflow-x: hidden; }

header {
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-size: cover;
  width: 100%;
  float: left;
  height: 100vh; }
  header .top-bar {
    background-color: initial;
    width: 100%;
    height: 122px;
    float: left;
    padding: 30px 35px 30px 35px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s; }
    header .top-bar.fixedbar {
      background-color: #fff;
      position: fixed;
      width: 100%;
      height: 78px;
      left: 0;
      top: 0;
      padding: 15px 35px 15px 35px;
      -webkit-box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
      -moz-box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
      box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
      -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      transition: height 0.3s; }
      header .top-bar.fixedbar h1 {
        width: 150px;
        height: 37px;
        float: left; }
        header .top-bar.fixedbar h1 .white-logo {
          visibility: hidden; }
        header .top-bar.fixedbar h1 .black-logo {
          visibility: visible; }
      header .top-bar.fixedbar .spinner {
        background-color: #000; }
      header .top-bar.fixedbar .sidebarIconToggle {
        top: 30px; }
    header .top-bar h1 {
      width: 223px;
      height: 55px;
      float: left;
      position: relative; }
      header .top-bar h1 .white-logo {
        visibility: visible;
        position: absolute; }
      header .top-bar h1 .black-logo {
        visibility: hidden;
        position: absolute; }
  header nav {
    background: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    transform: translateX(260px);
    transition: transform 260ms ease-in-out;
    padding: 40px 0 0 0; }
    header nav ul {
      margin: 0;
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
    header nav li {
      list-style: none;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px 20px 20px 20px;
      cursor: pointer; }
      header nav li:first-child {
        padding: 0 20px 0 20px; }
      header nav li .black-logo {
        width: 150px; }
        header nav li .black-logo img {
          width: 150px; }
      header nav li a {
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none; }
  header .close {
    transform: translateX(0); }
  header input[type="checkbox"]:checked ~ nav {
    transform: translateX(0); }
  header input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none; }
  header .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 50px;
    right: 35px;
    height: 22px;
    width: 22px;
    margin-bottom: 0; }
  header .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #fff; }
  header .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 6px 0 3px 0; }
  header .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left; }
  header .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px; }
  header input[type=checkbox]:checked ~ .sidebarIconToggle {
    top: 15px;
    right: 15px; }
  header input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0; }
  header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    background-color: #777; }
  header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -11px;
    background-color: #777; }

.main {
  width: 100%;
  float: left;
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px; }

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center; }

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px; }

.backdrop {
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default; }
