* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
    box-sizing: border-box; 	
    transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
}
*:before,
*:after {
	box-sizing: border-box;   
}
article, aside, figure, footer, header, hgroup, nav, section { 
	display: block; 
}
img, object, embed { 
	max-width: 100%; 
}
ul { 
	list-style: none; 
}
a { 
	border:none; 
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
	text-decoration:none; 
}
img { 
	border:none; 
}
:focus { 
  outline:0; 
}
body {
    background: $body-bg;
    font-family: Arial, Helvetica, sans-serif;
	line-height: $line-height-base;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%; 
    -webkit-appearance: none;
    overflow-x: hidden;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
%width100 { 
  	width:100%; 
	float:left; 
}