header {
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-size: cover;
    width: 100%;
    float: left;
    height: 100vh;
    .top-bar {
        background-color: initial;
        width: 100%;
        height: 122px;
        float: left;
        padding: 30px 35px 30px 35px;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        transition: height 0.3s;
        &.fixedbar {
            background-color: #fff;
            position: fixed;
            width: 100%;
            height: 78px;
            left: 0;
            top: 0;
            padding: 15px 35px 15px 35px;
            -webkit-box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
            -moz-box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
            box-shadow: 0 3px 10px rgba(200, 200, 200, 0.7);
            -webkit-transition: height 0.3s;
            -moz-transition: height 0.3s;
            transition: height 0.3s;
            h1 {
                width: 150px;
                height: 37px;
                float: left;
                .white-logo {
                    visibility: hidden;
                }
                .black-logo {
                    visibility: visible;
                }
            }
            .spinner {
                background-color: #000;
            }
            .sidebarIconToggle {
                top: 30px;
            }
        }
        h1 {
            width: 223px;
            height: 55px;
            float: left;
            position: relative;
            .white-logo {
                visibility: visible;
                position: absolute;
            }
            .black-logo {
                visibility: hidden;
                position: absolute;
            }
        }
    }
    nav {
        background: #ffffff;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        transform: translateX(260px);
        transition: transform 260ms ease-in-out;
        padding: 40px 0 0 0;
        ul {
            margin:0;
            padding:0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
        }
        li {
            list-style: none;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px 20px 20px 20px;
            cursor: pointer;
            &:first-child {
                padding: 0 20px 0 20px;
            }
            .black-logo {
                width: 150px;
                img {
                    width: 150px;
                }
            }
            a{
                color: #000;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    .close {
        transform: translateX(0);
    }
    input[type="checkbox"]:checked ~ nav {
        transform: translateX(0);
    }
    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        top: 50px;
        right: 35px;
        height: 22px;
        width: 22px;
        margin-bottom: 0;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #fff;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin: 6px 0 3px 0;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle {
        top: 15px;
        right: 15px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
        background-color: #777;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -11px;
        background-color: #777;
    }

}

.main {
    width: 100%;
    float: left;
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
.backdrop {
    // position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default;
}
// .backdrop {
//     position: fixed;
// }